.container{
    width: 100vw;
    height: 100vh;
    background-image: url('/app/img/login_background.jpg');

    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo{
    align-self: flex-end; 
    margin-top: 2%;
    margin-right: 1,5%;
}

.login_container {
    height: 100vh; /* Ustawienie wysokości na pełną wysokość widoku */
}

.login_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

.login_container input {
    margin: 10px 0; /* Ustawienie marginesu górnego i dolnego dla elementów input */

    width: 35vw;
    height: 8vh;
    border-radius: 20px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.1px;
}


.login_container button {
    margin: 10px 0; /* Ustawienie marginesu górnego i dolnego dla elementów input */
   
    width: 35vw;
    height: 10vh;


    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.1px;
    overflow: hidden; /* Zapobiega wychodzeniu tekstu poza granice przycisku */
    white-space: nowrap; /* Zapobiega łamaniu tekstu na wiele linii */    
}


#button1 {
    margin-top:8%;
    padding: 10px;
    background: rgba(27, 153, 63, 0.932);
}

#button2 {
    padding: 10px;
    background-color: #231b94ee; /* Ustawienie koloru tła przycisku */
}

body{
    margin: 0;
}

@media only screen and (max-device-width:420px){
    
    .container{
        background-size: cover;
        background-position: center;
    }
    
    .login_container button {
        margin: 10px 0; /* Ustawienie marginesu górnego i dolnego dla elementów input */
        width: 70vw;
        height: 8vh;
        font-size: 47px;
    }

    .login_container input {
        margin: 10px 0; /* Ustawienie marginesu górnego i dolnego dla elementów input */
        width: 70vw;
        height: 8vh;
        font-size: 47px;
    }

    .logo{
        align-self:center;
        margin-top: 10%;
        margin-right: 20%;
    }

    #logoImg{
        width: 220%;
        height: auto;
    }

    .login_container form {
        margin-top: 10%;
    }
}