<head>
    <title>  </title>
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css">
</head>

<body>
    <div class="container">
        <div class="menu">
            
            <button name="rating" >
                <div class="menuImg">
                    <img src="../img/star.svg">
                </div>
                <div class="menuText">
                    Evaluate
                </div>
            </button>
            
            <button name="laderboard" >
                <div class="menuImg">
                    <img src="../img/leaderboard.svg">
                </div>
                <div class="menuText">
                    Leaderboard
                </div>
            </button>

            <button name="profile" >
                <div class="menuImg">
                    <img src="../img/acc.svg">
                </div>
                <div class="menuText">
                    Post/Account
                </div>
            </button>
        </div>

    </div>
</body>